<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037947250601-sch9mluemgnrr25pfoq4219k7pdc0q10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037947250601-sch9mluemgnrr25pfoq4219k7pdc0q10</string>
	<key>API_KEY</key>
	<string>AIzaSyBYX-P1TmbeCzMqrrbxAbTeGg6q2qFQUgY</string>
	<key>GCM_SENDER_ID</key>
	<string>1037947250601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imgurflutterproject</string>
	<key>PROJECT_ID</key>
	<string>imgurflutterapp</string>
	<key>STORAGE_BUCKET</key>
	<string>imgurflutterapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037947250601:ios:be9556c688127ee720c6b8</string>
</dict>
</plist>